<div>
  <h1>Sign up to use this app</h1>

<%= form_with model: @user, local: true do |form| %>
 <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
   </p>

   <p>
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </p>

    <p>
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </p>

  <%= form.submit :"sign up" %><br>

<%end%>
 

</div>
