<%= render "navbar" %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <%= msg %> 
        </div>
      <% end %>
    </div>
  <% end %>
<div class="container text-center mt-5">
  <h1 class"display-4">Sign up</h1>

  <%= form_with scope: :user, url: users_path, class: "sign-in-up-form", local: true do |form| %>
 <div>
    <%= form.label :name %>
    <span><%= form.text_field :name, class: "form-control" %></span>
   </div>

   <div>
      <%= form.label :username %>
      <span><%= form.text_field :username, class: "form-control" %></span>
    </p>

    <div>
      <%= form.label :password %>
      <span><%= form.password_field :password, class: "form-control" %></span>
    </div>

    <%= form.submit :"sign up", class: "btn btn-outline-info" %><br>

<%end%>
 

</div>
